In [63]:
import pandas as pd
import numpy as np

In [4]:
pd.__version__

'1.3.5'

In [40]:
data=pd.read_csv(r"Z:\TAIWO\Downloads\laptops.csv")

# Question2
data.describe()

               RAM      Storage       Screen  Final Price
count  2160.000000  2160.000000  2156.000000  2160.000000
mean     15.413889   596.294444    15.168112  1312.638509
std       9.867815   361.220506     1.203329   911.475417
min       4.000000     0.000000    10.100000   201.050000
25%       8.000000   256.000000    14.000000   661.082500
50%      16.000000   512.000000    15.600000  1031.945000
75%      16.000000  1000.000000    15.600000  1708.970000
max     128.000000  4000.000000    18.000000  7150.470000

In [41]:
#Question 3
len(data['Brand'].unique())

27

In [42]:
#question 4
data.columns[data.isnull().any()].tolist()

['Storage type', 'GPU', 'Screen']

In [43]:
#question5
data[data['Brand']=='Dell']['Final Price'].max()

3936.0

In [44]:
#question6 (a)
median_with_na=data['Screen'].median()
median_with_na

15.6

In [45]:
#question6 (b)
mode_with_na=data['Screen'].mode()
mode_with_na

0    15.6
dtype: float64

In [47]:
#question6 (c)
data['Screen']=data['Screen'].fillna(15.6)
median_with_fill=data['Screen'].median()
median_with_fill

15.6

In [76]:
#question7
#data selection
innjoo_lap=data[data['Brand']=='Innjoo']
#selecting columns of interest
innjoo_lap_df=innjoo_lap[['RAM', 'Storage', 'Screen']]
#convert to numpy array
X=innjoo_lap_df.to_numpy()
#dot multiplication
XTX=np.dot(X.T, X)
XTX_inverse=np.linalg.inv(XTX)
y=np.array([1100, 1300, 800, 900, 1000, 1100])

#Multiply the inverse of XTX with the transpose of X, and then multiply the result by y

w=np.dot(XTX_inverse, X.T)*y
w.sum()

91.29988062995814